$default-font-stack : Arial, sans-serif;
$links: #08f;

$menu-width: 190px;
$site-dock-height: 50px;

$black-neutral-color: rgb(38,38,38);
$gea-color: rgb(118,73,60);
$gim-color: rgb(132,180,30);
$rt-color: rgb(29,184,237);
$cj-color:  rgb(121,0,107);
$cbsi-color: rgb(30,110,118);
$vie-etudiante-color: rgb(226,22,107);
$espace-entreprises-color: rgb(220,54,48);
$activites-recherche-color: rgb(0,166,147);
$iut-saintmalo-color: rgb(252,175,15);

$temoignage-color: rgb(226,22,107);